@model Gestion_Clientele.Models.TypePiece

@{
    ViewData["Title"] = "Supprimer le Type de Pièce";
}

<h1>Supprimer le Type de Pièce</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce type de pièce ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarif)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </form>
</div>
